{% load static %}
{%block header %}
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{% static  'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static  'css/main.css' %}">
    <link rel="stylesheet" href="{% static  'css/slide.css' %}">

    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav>
<!--            <div style="background: #007dc6;   padding-left:20px; padding-right:53px; text-align: center;">-->
<!--                <a href="{% url 'stand_list_view' %}" style="text-decoration: none; border:none;">-->
<!--                    <p style="color:white; font-weight:bold;">CАЙТ «ОЛМИПИЙСКИХ ЧЕМПИОНОВ»</p>-->
<!--                </a>-->
<!--            </div>-->
            <ul id="navbar">
                <li>
                    <a href="{% url 'stand_list_view' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/news.png' %}" alt="icon_news">
                            <div>НОВОСТИ</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sportsman' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/sportsman.png' %}" alt="icon_sportsman">
                            <div>СПОРТСМЕНЫ</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'trener' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/trener.png' %}" alt="icon_sportsman">
                            <div>ТРЕНЕРЫ</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'trener' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/trener.png' %}" alt="icon_sportsman">
                            <div>ОБРАТНАЯ СВЯЗЬ</div>
                        </div>
                    </a>
                </li>
                {% if user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li>
                    <a href="#">
                        <div class="icon_header">
                            <img src="{% static  'img/add.png' %}" alt="icon_add">
                            <div>ДОБАВИТЬ</div>
                        </div>
                    </a>
                    <ul>
                        <li><a href="{% url 'add_stand' %}">НОВОСТЬ</a></li>
                        <li><a href="{% url 'add_sportsman' %}">СПОРТСМЕНА</a></li>
                        <li><a href="{% url 'add_trener' %}">ТРЕНЕРА</a></li>
                        <li><a href="{% url 'add_club' %}">КЛУБ</a></li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    <div style="padding: 5px; color:white; font-weight:bold; margin:auto;">
                        <div class="icon_header">
                            <img src="{% static  'img/user.png' %}" alt="icon_add">
                            <div>Вы вошли как:<br>{{user.username}}</div>
                        </div>
                        
                    </div>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/exit.png' %}" alt="icon_exit">
                            <div>ВЫХОД</div>
                        </div>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">
                        <div class="icon_header">
                            <img src="{% static  'img/enter.png' %}" alt="icon_enter">
                            <div>ВХОД</div>
                        </div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

<div>
<ul id="slides">
	<li class="slide showing"><img src="{% static  'img/fraz1.png' %}" alt="" class="imgages">iiii</li>
	<li class="slide"><img src="{% static  'img/fraz2.png' %}" alt="" class="imgages">333</li>
	<li class="slide"><img src="{% static  'img/fraz3.png' %}" alt="" class="imgages">333</li>
<!--	<li class="slide"><img src="{% static  'img/fraz1.png' %}" alt="" class="imgages">333</li>-->
<!--	<li class="slide"><img src="{% static  'img/fraz.png' %}" alt=""class="imgages">33</li>-->
</ul>

<div class="slider-dots">
    <span class="slider-dots_item"  onclick="currentxSlide(1)"></span>
    <span class="slider-dots_item" onclick="currentxSlide(2)"></span>
    <span class="slider-dots_item" onclick="currentxSlide(3)"></span>
<!--	<span class="slider-dots_item" onclick="currentxSlide(4)"></span>-->
<!--    <span class="slider-dots_item" onclick="currentxSlide(5)"></span>-->
</div>

</div>

    <script>
    var slides = document.querySelectorAll('#slides .slide');
    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide,3000);

    function nextSlide(){
        slides[currentSlide].className = 'slide';
        currentSlide = (currentSlide+1)%slides.length;
        slides[currentSlide].className = 'slide showing';
    }
  </script>
    {% endblock %}