{% load static %}
{% include "../inc/_header.html" %}

<div class="wrapper">
    <div class="field">
        <div class="field_news">
            <div class="news">
                {% for trener in page_obj %}
                <div class="records_news">
                    <div class="header_news"><a href="{{ trener.id }}">   {{trener.id}}# Тренер - {{trener.trener_name}}  </a> </div>
                <div style="display:flex; padding:15px">
                    <div class="photo_news">
                        <img src="/media/{{ trener.trener_img }}" class="photo">
                    </div>
                    <div class="items_news">
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>ФИО Тренера:  </strong>
                            </div>
                            <div>{{trener.trener_name}}</div>
                        </div>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>Наименование клуба:  </strong>
                            </div>
                            <div>{{trener.club_id}}</div>
                        </div>
                        <div class="read">
                            <form action="{{  trener.id }}">
                                <button type="submit" class="btn">Читать подробнее</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagin">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
                {% endif %}
                <span> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
                {% endif %}
            </div>
        </div>

        <div class="right-panel">
            <div>
                <form method="get" class="setup_centr">
                    <p><strong style="text-align:center;">Фильтр тренеров: </strong></p>
                    {{ filter.form.as_p }}
                    <div style="text-align:center;margin:20px auto;">
                        <button type="submit" Class="btn">Применить фильтр</button>
                    </div>
                </form>
               <div style="text-align:center;margin: auto;">
                <form action="{% url 'trener' %}">
                    <button type="submit" class="btn">Сброс</button>
                </form>
              </div>
            </div>
        </div>

    </div>
</div>


{% include "../inc/_footer.html" %}