{% load static %}
{% include "../inc/_header.html" %}

<div class="wrapper">
    <div class="field">
        <div class="field_news">
            <div class="news">
                {% for stand in page_obj %}
            <div class="redcords">
                <div class="photo_news">
                   <img src="/media/{{ stand.sportsman_id.sportsman_img }}">
                </div>
                <div class="items_news">
                    <strong><em>{{ stand.stand_name }}</em></strong><br>
                      <div  class="title_info_sportsman">
                           <div class="desc_info_sportsman">
                               <strong>Вид олимпийских игр: </strong>
                           </div>
                          <div>{{ stand.view_olimp_id.view_olimp_name }}</div>
                      </div>
                      <div  class="title_info_sportsman">
                           <div class="desc_info_sportsman">
                               <strong>ФИО спортсмена: </strong>
                           </div>
                          <div><a href="/news/{{ stand.id }}">{{stand.sportsman_id}}</a></div>
                      </div>
                      <div  class="title_info_sportsman">
                           <div class="desc_info_sportsman">
                               <strong>Получена награда: </strong>
                           </div>
                          <div>{{ stand.medal_id }}</div>
                      </div>
                      <div  class="title_info_sportsman">
                           <div class="desc_info_sportsman">
                               <strong>Дата события:  </strong>
                           </div>
                          <div>{{ stand.date_event }}</div>
                      </div>
                        <div  class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                               <strong>Описание:  </strong>
                           </div>
                           <div style="white-space: pre-line;" >{{stand.stand_description }}</div>
                          </div>
            </div>
        </div>
            {% endfor %}
            </div>
            <div class="pagin">
                 {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Первый</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
                 {% endif %}
            <span> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
                    {% endif %}
            </div>
        </div>

        <div class="news right-panel">
            <div>
                <form method="get" class="setup_centr">
                    <p><strong style="text-align:center;">Фильтр спортсменов: </strong></p>
                    {{ filter.form.as_p }}
                    <button type="submit" Class="btn">Применить фильтр</button>
                 </form>
            </div>
        </div>

    </div>
</div>


{% include "../inc/_footer.html" %}
{% include "../inc/_footer.html" %}