{% load static %}
{% include "../inc/_header.html" %}

<div class="wrapper">
    <div class="field">
        <div class="field_news">
            <div class="news">
                <div class="records_news">
                    <div class="photo_news">
                        <img src="/media/{{ stands.sportsman_id.sportsman_img }}" class="photo">
                    </div>
                    <div class="items_news">
                        <strong><em>{{ stands.stand_name }}</em></strong><br>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>Вид олимпийских игр: </strong>
                            </div>
                            <div>{{ stands.view_olimp_id.view_olimp_name }}</div>
                        </div>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>ФИО спортсмена: </strong>
                            </div>
                            <div><a href="/news/{{ stands.id }}">{{stands.sportsman_id}}</a></div>
                        </div>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>Получена награда: </strong>
                            </div>
                            <div>{{ stands.medal_id }}</div>
                        </div>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>Дата события: </strong>
                            </div>
                            <div>{{ stands.date_event }}</div>
                        </div>
                        <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>Описание: </strong>
                            </div>
                            <div style="white-space: pre-line;">{{stands.stand_description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "../inc/_footer.html" %}