{% load static %}


{% include "inc/_header.html" %}

<div class="wrapper">
    <div class="">
        <div >
            <div style="display: flex;flex-direction: column; align-items: center; ">
                <div >
                 <form action="" method="post">
                     <fieldset >
                         <legend></legend>
                          <div class="switch">
                             <div class="switch_style switch_bg_w" >
                                  <a href="{% url 'login' %}"  class="color_switch_b">Авторизоваться</a>
                             </div>
                             <div class="switch_style switch_bg_b">
                                 <a href="{% url 'register' %}"  class="color_switch_w">Регистрация</a>
                             </div>
                         </div>
                         <h3 style="text-align:center">Регистрация</h3>
                                {% csrf_token %}
                                {{ form.as_p }}
                            <div style="text-align:center">
                        <button type="submit" class="btn">Зарегистрироваться</button>
                     </div>
                 </fieldset>
                 </form>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>

{% include "inc/_footer.html" %}