{% load static %}
{% include "../inc/_header.html" %}

{{ sportsman.sportsman_country }}
<div class="wrapper">
    <div class="field">
        <div class="field_news">
            <div class="news">
                <div class="records_news">
                    <div class="photo_news">
                       <img src="/media/{{ sportsman.sportsman_img }}" class="photo">
                    </div>
                    <div class="items_news">
                       <div class="title_info_sportsman">
                            <div class="desc_info_sportsman">
                                <strong>ФИО спортсмена: 55</strong>
                            </div>
                                <div>
                                {{sportsmans.id}}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "../inc/_footer.html" %}