{% load static %}
{% include "../inc/_header.html" %}

<div class="wrapper">
    <div class="field">
        <div style="width: 1165px;">
            {% if user.is_superuser %}
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <h3 style="text-align:center">Добавить спортсмена</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn_align">
                        <button type="submit" class="btn">Добавить спортсмена</button>
                    </div>
                </fieldset>
            </form>
            {% endif %}
        </div>
    </div>
</div>


{% include "../inc/_footer.html" %}